<div class="container">
	<div class="jumbotron">
  		<h1>Welcome to EtsyDemo</h1>
  		<p>EtsyDemo is larges online shop for homemade goods</p>
 	 	<p><a class="btn btn-primary btn-lg" href="/pages/about" role="button">Learn more</a></p>
	</div>
</div>